@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #fcfcfc;
}

.gridEntry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header"
    "section1 section1"
    "section2 section2"
    "section3 section3"
    "section4 section4";
}

.header {
    grid-area: header;
    background-color: #24292f;
    height: 7.5vh;
}

.section1 {
    grid-area: section1;
    background-color: green;
}
.section2 {
    grid-area: section2;
    background-color:blue;
}
.section3 {
    grid-area: section3;
    background-color:pink;
}

.section4 {
    grid-area: section4;
    background-color:yellow;
}

.fa-dot-circle {
    font-size: 33px;
    color: #fcfcfcd7;
    cursor: pointer;
    text-decoration: none;
}

.fa-bars {
    position: absolute;
    right: 0;
    margin-right:60px;
}

.fa-moon {
    font-size: 15px;
    color: #fcfcfcd7;
    text-align: right;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right:30px;
}

.gitTitle {
    font-size: 20px;
    color: #fcfcfcd7;
    margin-left: 10px;
    margin-top: 4px;
    cursor: pointer;
}

.separator {
    font-size: 23px;
    color: #57606a;
    margin-left: 10px;
}

.navEntry {
    display: flex;
    padding: 15px 30px;
}

.pNav {
    color: #fcfcfcd7;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 7px;
    text-decoration: none;
    cursor: pointer;
}

.fa-pencil-alt {
    margin-left: 3px;
}

.pNav:hover {
    color:#6e747a;
}